.image__modal {

  .modal-backdrop {
    opacity: 0.7;
  }
  .modal-dialog {
    width: 800px;
  }

  .modal-body {
    padding: 0;

    .img-responsive {
      min-width: 800px;
    }
  }

  .modal-content {
    border-radius: 0;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,.5);
  }
}