.filter__home {
  width: 100%;
  height:100vh;
  background: linear-gradient(270deg, #FD5B78, #FD3A4A,#CCFF00);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  .file-jumbotron {
    top: 50%;
    margin-top: -50px;
    left: 30%;
    width: 40%;
    height: 300px;
    position: absolute;
    border: 2px solid #736A62;
    border-radius: 13px;
   background-color: transparent;
    text-align: center;

    h2,
    input[type = "file"] {
      color: #736A62;
    }
  }

}