.filter__home {
  width: 100%;
  height:100vh;
  background: linear-gradient(270deg, #FD5B78, #FD3A4A,#CCFF00);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;



}